[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/doanurelius/Desktop/Windows backup]
row=0
col=0

[/home/doanurelius/Desktop/twrp-3.7.0_12-1-UNOFFICIAL-karen.img]
row=6
col=0

[/home/doanurelius/Desktop/mac adresses]
row=1
col=0

[/home/doanurelius/Desktop/New File]
row=3
col=0

[/home/doanurelius/Desktop/Sharkpoo2006]
row=4
col=0

[/home/doanurelius/Desktop/magisk_patched-26100_DlHl5.img]
row=2
col=0

[/home/doanurelius/Desktop/twrp-3.7.0_11-0-denniz.img]
row=5
col=0

