[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/donaurelius/Desktop/blur.zip]
row=8
col=0

[/home/donaurelius/Desktop/twrp-3.7.0_11-0-denniz.img]
row=6
col=0

[/home/donaurelius/Desktop/magisk_patched-26100_DlHl5.img]
row=4
col=0

[/home/donaurelius/Desktop/twrp-3.7.0_12-1-UNOFFICIAL-karen.img]
row=5
col=0

[/home/donaurelius/Desktop/Sharkpoo2006]
row=0
col=0

[/home/donaurelius/Desktop/blur]
row=7
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/donaurelius]
row=1
col=0

