[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/doanurelius/Desktop/magisk_patched-26100_DlHl5.img]
row=9
col=0

[/home/doanurelius/Desktop/New File]
row=11
col=0

[/home/doanurelius/Desktop/anki-23.10.1-linux-qt6]
row=0
col=1

[/home/doanurelius/Desktop/mac adresses]
row=12
col=0

[/home/doanurelius/Desktop/siji]
row=2
col=1

[/home/doanurelius/Desktop/xfce4]
row=3
col=0

[/home/doanurelius/Desktop/dunstctl]
row=4
col=0

[/home/doanurelius/Desktop/config]
row=5
col=0

[/home/doanurelius/Desktop/Windows backup]
row=10
col=0

[/home/doanurelius/Desktop/twrp-3.7.0_11-0-denniz.img]
row=7
col=0

[/home/doanurelius/Desktop/Sharkpoo2006]
row=8
col=0

[/home/doanurelius/Desktop/Anki2]
row=1
col=1

[/home/doanurelius/Desktop/twrp-3.7.0_12-1-UNOFFICIAL-karen.img]
row=6
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/doanurelius]
row=2
col=0

